<nav class="navbar">
  <div class="navbar-brand">
    <h1 class="navbar-title">Meal Match</h1>
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item">
      <button
        class="navbar-link"
        type="button"
        [class.navbar-link--active]="isActive('')"
        (click)="navigate('')"
      >
        Home
      </button>
    </li>
    <li class="navbar-item">
      <button
        class="navbar-link"
        type="button"
        [class.navbar-link--active]="isActive('create-meal')"
        (click)="navigate('create-meal')"
      >
        Create Meal
      </button>
    </li>
    <li class="navbar-item">
      <button
        class="navbar-link"
        type="button"
        [class.navbar-link--active]="isActive('swipe')"
        (click)="navigate('swipe')"
      >
        Swipe
      </button>
    </li>
    <li class="navbar-item">
      <button
        class="navbar-link"
        type="button"
        [class.navbar-link--active]="isActive('collection')"
        (click)="navigate('collection')"
      >
        Collection
      </button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link navbar-link--logout" type="button" (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
